mixin inputLabel(text, id, isRequired)
  label.inputLabel(type= type, name= name, for= id, placeholder= placeholder)&attributes(attributes)
    if isRequired
      | #{text}&nbsp;#[span.__required *]
    else
      | #{text}