.answer {
  padding: 24px;
  background-color:  #f6f6f6;
  border-radius: 5px;
  &__date {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.04em;
    color: $color-gray-light;
    margin-bottom: 9px;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: $color-dark;
    margin-bottom: 16px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.5;
    color: $color-gray;
    margin-top: 0;
    margin-bottom: 16px;
  }
  &__footer {
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    color: $color-dark;
  }
}