mixin inputFile()
  div.fileWrapper#file-wrapper
    input.visually-hidden(type="file", name="file", id="file", multiple, accept="image/*")
    label.inputFile(for="file", id="file-label-main")
      span.__icon
        svg
          use(xlink:href="./icons/sprite.svg#load-file")
      span.__text 
        | Загрузить фотографии. Максимальный вес 10 мегабайт. <br />
        | Расширение jpeg, png
    //- ul.filesList#file-list
    //-   li.__item 
    //-     label.inputFileMin(for="file") 
    //-       span.inputFile__icon
    //-         svg
    //-           use(xlink:href="./icons/sprite.svg#load-file")
    //-   li.__item 
    //-     div.__image
    //-       img(src="", alt="loaded")
    //-       div.__close
    //-         svg
    //-           use(xlink:href="./icons/sprite.svg#close")